.alphabet div{
    display:inline;
    float:left;
    padding:2px;
}
nav {

}

.main {
    clear:both;
    height: 600px;
    display: flex;
    flex-direction: row;
}
.characters {
    width:30%;
    height: 100%;
    border: 2px solid purple;
    position: relative; 
    overflow-y: auto;
    height: 100%;      

}

.details {
    width: 60%;
    height: 100%;
    border:2px solid orange;
}