.alphabet div{
    display:inline;
    float:left;
    padding:2px;
}
nav {

}
body {
    /*
    background-image: url('../img/map.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
    */
    background-color: rgb(207, 171, 120);
}

.main {
    clear:both;
    height: 600px;
    display: flex;
    flex-direction: row;
}
.characters {
    width:30%;
    height: 100%;
    border: 2px solid purple;
    position: relative; 
    overflow-y: auto;
    height: 100%;      

}

.details {
    width: 60%;
   
    height: 100%;
    border:2px solid orange;
    display:inline-block;
}

.gridbox {
    display: grid;
    grid-template-columns: 30% 70%;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.subdata {
    font-size: 20px;
}

.chacterList li{
    font-size: 20px;
}